{% extends "base.html" %}
{% block title %}About - MetalStats{% endblock %}
{% block main %}
    <div class="container"
         style="padding-left: 1rem;
                padding-right: 1rem;
                text-align: left">
        <div style="margin-top: 1rem;">
            <h4 style="margin-bottom: 0.5rem;">About</h4>
            <p>
                The source is available on GitHub at <a href="https://github.com/beucismis/metalstats">https://github.com/beucismis/metalstats</a>
            </p>
            <p>
                Page <a href="/po-tos">Privacy Policy</a> and <a href="/po-tos">Terms of Service</a> for this site.
            </p>
        </div>
    </div>
{% endblock %}
