{% extends "base.html" %}
{% block title %}About - MetalStats{% endblock %}
{% block main %}
    <div class="container" style="padding-left: 1rem; padding-right: 1rem; text-align: left;">
    <div style="margin-top: 1rem;">
        <h4 style="margin-bottom: 0.5rem;">About</h4>
        <p>The source is available on GitHub at <a href="https://github.com/beucismis/metalstats">https://github.com/beucismis/metalstats</a></p>
        <p>Page <a href="{{ url_for('po_tos') }}">Privacy Policy</a> and <a href="{{ url_for('po_tos') }}">Terms of Service</a> for this site.</p>
    </div>
    <br/>
    <div>
        <h4 style="margin-bottom: 0.5rem;">Donating</h4>
        <p>BTC: bc1q0hp2qnljdvnp938958umy5gqs7ej6ahckldua75alancwf9um8asyefd4f<br/>
        ETH: 0xf959feb34b9736b96d6155dcb927cb8d33120fa3<br/>
        SOL: FQUN3X36Pg5m7j8bnu4jCWxpFyiv1D7MzxkzCyNQ8rRw</p>
    </div>
    <br/>
    <div style="margin-bottom: 1rem;">
        <h4 style="margin-bottom: 0.5rem;">Contact</h4>
        <p>Mail: <a href="mailto:beucismis@tutamail.com">beucismis@tutamail.com</a></p>
    </div>
    </div>
{% endblock %}
