<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🤘</text></svg>"></link>
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <header>
            <h1 class="title">MetalStats</h1>
            <div class="description">Create a Topster-style canvas of your top Spotify music.</div>
            <nav>
                <a href="/">Home</a>
                <a id="auth-status">Login with Spotify</a>
                <a href="/showcase">Showcase</a>
                <a href="/about">About</a>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
        </footer>
        <script src="/static/script.js" defer></script>
    </body>
</html>
